<%= form_with(model: @tweet, local: true) do |f|%>

  <div class="field">
    <%= f.label :image, "画像" %><br />
    <%= f.file_field :image %>
  </div>

  <div>
    <%= f.label :title, "タイトルの入力" %><br />
    <%= f.text_field :title, id:"text_check_1", placeholder:"タイトルを決めてください" %>
    <span id="count1" class="float-right">50</span>文字
  </div>

  <div>
    <%= f.label :text, "テキスト" %><br />
    <%= f.text_area :text, id:"text_check_2" %>
    <span id="count2" class="float-right">140</span>文字
  </div>
  

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>