<%= form_with(model: @tweet, local: true) do |f|%>

  <div class="field">
    <%= f.label :image, "画像" %><br />
    <%= f.file_field :image %>
  </div>

  <div>
    <%= f.label :title, "タイトルの入力" %><br />
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :text, "テキスト" %><br />
    <%= f.text_area :text %>
  </div>
  

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>