
<div class = "tweet_main">
<div>
<p>タイトル</p>
<%= @tweet.title%>
<p>投稿者</p>
<%= @tweet.user.nickname%>
</div>
<div class = "image_size">
<%= image_tag @tweet.image %>
</div>
<div>
<p>内容</p>
<%= @tweet.text%>
</div>
<div>
<p>いいね   <%= @tweet.likes.count %></p>
<% unless current_user == nil%>
    <% if user_signed_in? && current_user.id == @tweet.user_id %>
      <% elsif current_user.already_liked?(@tweet) %>
          <%= link_to tweet_like_path(@tweet), method: :delete do %>
          <div class = "iine_button">★</div>
          <% end %>
      <% else %>
          <%= link_to tweet_likes_path(@tweet), method: :post do %>
          <div class = "iine_button">☆</div>
          <% end %>
    <% end %>
<% end %>
</div>
<div class="contents">
  <%= form_with(model: [@tweet, @comment], class: 'js-form') do |f| %>
    <%= f.text_field :text %>
    <%= f.submit %>
  <% end %>
  
  <ul class="messages">
  <% @comments.each do |comment| %>
    <li class="message">
    <%= comment.text %>
    <%= comment.user.nickname %>
    </li> 
    <% end %>
  </ul>
<div>
<%= link_to "戻る", root_path %>
</div>
</div>

